@media (max-width: 425px) {
  .jobItem {
    width: 95%;
    background-color: #272727;
    padding: 1.2rem 1rem;
    border-radius: 10px;
    color: white;
  }
  .jobCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
  }
  .companyLogoCard {
    display: flex;
    gap: 0.8rem;
  }
  .companyLogoCard > img {
    width: 60px;
    object-fit: cover;
    transition: 1s ease-in-out;
  }
  .titleAndRating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .titleAndRating > h1 {
    font-size: 1.2rem;
  }
  .ratingCard,
  .locationCard,
  .employmentTypeCard {
    display: flex;
    gap: 0.5rem;
  }
  .startIcon {
    color: gold;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 4px;
  }
  .ratingCard > p,
  .locationCard > p,
  .employmentTypeCard > p,
  .packagePerAnnum {
    font-weight: 500;
    font-size: 0.9rem;
    align-self: center;
  }
  .locationAndPackage {
    display: flex;
    justify-content: space-between;
  }
  .locAndEmp {
    display: flex;
    gap: 1.5rem;
  }
  .locationIcon,
  .caseIcon {
    font-size: 1rem;
  }
  .jobdescriptionTitle {
    font-size: 1.2rem;
  }
  .jobdescription {
    font-size: 0.9rem;
  }
}
@media (min-width: 426px) {
  .jobCard {
    background-color: #272727;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .companyLogoCard {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.3rem;
  }
  .companyLogoCard > img {
    width: 90px;
    object-fit: cover;
  }
  .titleAndRating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ratingCard,
  .locationCard,
  .employmentTypeCard {
    display: flex;
    gap: 0.8rem;
  }
  .startIcon {
    color: gold;
    font-size: 1.5rem;
    align-self: center;
  }
  .ratingCard > p,
  .locationCard > p,
  .employmentTypeCard > p,
  .packagePerAnnum {
    font-weight: 500;
    font-size: 1.3rem;
    align-self: center;
  }
  .locationAndPackage {
    display: flex;
    justify-content: space-between;
  }
  .locAndEmp {
    display: flex;
    gap: 1.5rem;
  }
  .locationIcon,
  .caseIcon {
    font-size: 1.5rem;
  }
}
