@media (max-width: 425px) {
  .loginBgContainer {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginCard {
    background-color: #272727;
    width: 90%;
    padding: 3rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 5px 16px #4f46e5;
  }
  .loginCard > img {
    width: 50%;
    align-self: center;
    margin-bottom: 2rem;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .loginInput {
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #4f46e5;
    outline: none;
    background-color: #272727;
  }
  .loginBtn {
    background-color: #4f46e5;
    color: white;
    padding: 10px 0;
    border: 0 solid;
    border-radius: 8px;
    font-size: 18px;
  }
  .loginLabel,
  .loginInput {
    color: white;
  }
  .errorMsg {
    color: red;
    font-size: 12px;
  }
}
@media (min-width: 426px) {
  .loginBgContainer {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginCard {
    background-color: #272727;
    width: 30%;
    padding: 3rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 5px 16px #4f46e5;
  }
  .loginCard > img {
    width: 50%;
    align-self: center;
    margin-bottom: 2rem;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .loginInput {
    padding: 10px 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #4f46e5;
    outline: none;
    background-color: #272727;
  }
  .loginBtn {
    background-color: #4f46e5;
    color: white;
    padding: 10px 0;
    border: 0 solid;
    border-radius: 8px;
    font-size: 18px;
  }
  .loginLabel,
  .loginInput {
    color: white;
  }
  .errorMsg {
    color: red;
    font-size: 14px;
  }
}
